.u-section-1 {
  min-height: 792px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 792px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px 30px 199px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 218px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-form-1 {
  height: 75px;
  margin: -13px 0 0 -15px;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 30px 10px 29px;
}

.u-section-1 .u-image-1 {
  min-height: 792px;
  pointer-events: auto;
  background-image: url("images/2fbebf92-b0af-4785-b0e1-4490c0f1f25e.png");
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 677px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 653px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
    min-height: 653px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 551px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 858px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 750px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 628px;
  }

  .u-section-1 .u-image-1 {
    min-height: 472px;
  }
}